html{
    height: 100%;
}

body{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: arial, sans-serif;
}

.flex-containers{
    display: flex;
}

.buttons{
    padding: 0 16px 0 16px;
    margin: 11px 4px 11px 4px;
    height: 36px;
    min-width: 54px;
    border-radius: 4px;
    color: hsl(213, 5%, 39%);
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    text-align: center;
}

.buttons:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: hsl(0, 0%, 97%);
    border: 1px solid hsl(0, 0%, 78%);
    color: hsl(0, 0%, 13%);
}

.hyperlinks-navbar{
    color: hsla(0, 0%, 0%, 0.87);
    text-decoration: none;
    font-size: 13px;
}

.hyperlinks-navbar:hover{
    opacity: .85;
    text-decoration: underline;
}

#sign-in-button{
    background-color: hsla(0, 0%, 0%, 0);
    background-image: -webkit-linear-gradient(top, hsl(218, 98%, 63%), hsl(218, 80%, 60%));
    color: hsl(0, 0%, 100%);
    cursor: default;
    outline: none;
    margin-left: 15px;
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 1px;
}

#sign-in-button:hover{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.hyperlinks-footer-left{
    text-decoration: none;
    padding-left: 27px;
    font-size: 14px;
}

.hyperlinks-footer-right{
    text-decoration: none;
    padding-right: 27px;
    font-size: 14px;
}

.hyperlinks-footer-left:visited, .hyperlinks-footer-right:visited{
    color: hsl(213, 5%, 39%);
}

.hyperlinks-footer-left:hover, .hyperlinks-footer-right:hover{
    text-decoration: underline;
}

.navbar-items{
    padding-left: 15px;
}

.navbar-items:first-child{
    padding-left: 0px;
}

.navbar-items:nth-child(3){
    height: 18px;
    width: auto;
}

#nav-bar{
    padding: 20px 30px;
    align-items: center;
    justify-content: flex-end;
}

#google-logo{
    width: auto;
    height: 92px;
}

#search-box{
    display: flex;
    align-items: center;
    width: 502px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid hsl(220, 10%, 89%);
}

#search-box-input{
    border: none;
    height: 34px;
    width: 487px;
}

#search-box-input:focus{
    border: none;
    outline: none;
}

#magnifier{
    width: 20px;
    height: 20px;
    margin: 9px;
}

#mic{
    width: 24px;
    height: 24px;
    padding: 9px;
}

footer{
    padding: 10px 0px;
    background-color: hsl(0, 0%, 95%);
    border-top: 1px solid hsl(0, 0%, 89%);
    align-items: center;
    justify-content: space-between;
}

main{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}